<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h2>Add a new movie</h2>
  <form method="POST" action="add_movie">
    <label for="title">name</label><br>
    <input type="text" id="title" name="title"><br>
    <input type="submit" value="Add movie">
  </form>
</body>
</html>