<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Movies</h1>
        <a href="{{ url_for('list_users') }}">All users</a>
    </div>
    <a href="{{ url_for('add_movie', user_id=user_id) }}">Add movie</a>
    <div class="movies">
        {% if movies %}
            {% for movie in movies %}
                <div class="movie">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.director }}</p>
                    <p>{{ movie.year_of_release }}</p>
                    <p>Rating {{ movie.rating }}</p>
                    <div class="update_delete">
                        <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}">Update movie</a>
                        <a class="delete" href="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}">Delete movie</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No movies in your library.</p>
        {% endif %}
    </div>
</body>
</html>