<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <h1>Users</h1>
        <a href="{{ url_for('home') }}">Home</a>
    </div>
    <a href="{{ url_for('add_user') }}">Add user</a>
    <div class="users">
        {% if users %}
            {% for user in users %}
                <form method="GET" action="{{ url_for('list_user_movies', user_id=user.id) }}">
                    <button class="user_button" type="submit"><h2>{{ user.name }}</h2></button>
                </form>
            {% endfor %}
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </div>
</body>
</html>