<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Users</h1>
    <a href="{{ url_for('add_user') }}">add new user</a>
    <ul>
        {% if users %}
            {% for user in users %}
            <li>
                <form method="GET" action="{{ url_for('list_user_movies', user_id=user.id) }}">
                    <button type="submit">{{ user.name }}</button>
                </form>
            </li>
            {% endfor %}
        {% else %}
            <p>No users found.</p>
        {% endif %}
    </ul>
</body>
</html>